.container-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
}

.logo {
    margin-top: 30px;
    width: 15vw;
}

.btnStart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 5vh;
    background-color: var(--btn);
    border: none;
    border-radius: 10px;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 30px;
}
.btnStart:hover{
    opacity: 0.8;
    box-shadow: 5px 5px 15px rgba(0,0,0, 0.3);
    transform: scale(1.1);
}
.gray{
    background-color: var(--disable-color);
}
.realodBtn{
    height: 2.5vh;
}



@media (max-width: 700px){
    .container-bar{
        flex-direction: row;
        width: 100%;
        height: 8vh;
    } 
    .logo{
        margin-top: 0;
        width: 80px;
        margin-left: 10px; 
    }
    .btnLife{
        display: flex;
        flex-direction: row;
        justify-content: none;
        width: 150px;
    }
    .life, .points{
        font-size: 1rem;
    }
    .life img, .points img{
        width: 20px;
    }
    .btnStart{
        height: 25px;
        width: 80px;
        margin-right: 10px;
    }
    .realodBtn{
        height: 15px;
    }
}